.banner {
    display: flex;
    flex-direction: row;
    background-color: #fffaf1;
    max-height: none;
    min-width: 600px;
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
    color: #554d4d;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-height: 100%;
    min-width: 500px;
    padding: 20px;
}

.image {
    display: flex;
    margin-left: auto; 
    max-height: 100%;
    min-width: 500px;
}

h1{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

img{
    height: 100%;
    width: 100%;
}

button{
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
    font-size: small;
    padding: 12px;
    width: 200px;
    border-radius: 10px;
    border-style: none;
    background-color: #a8a096;
    color: white;
    letter-spacing: 3px;
}

@media screen and (max-width:800px) {
    .banner {
        flex-direction: column-reverse;
        max-height: auto;
        min-width: 500px;
    }
    .text{
        max-height: 100%;
        min-width: auto;
        padding: 40px
    }

    .image{
        max-height: 100%;
        min-width: auto;
    }
}