body {
    font-family: "Host Grotesk", sans-serif;
}

.nav {
    background-color: #EE99C2;
    color: #FFF7FC;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: left 50px;
    padding-right: 50px;
    padding: 15px;
}

.logo {
    display: flex;
    padding: 10px;
}

.contact {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}

.profileInfo {
    background-image: url("image/bg.jpg");
    padding: 50px;
}

.info {
    text-align: center;
    color: #FFF7FC;
    padding: 50px;
    align-items: center;
}

.bio {
    max-width: 80%;
    margin: auto;
    gap: 0px 30px;
    font-weight: 600;

}

.schedule {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px 20px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    margin-left: auto;

}

.week {
    background-color: #fff8fcb9;
    color: #0C359E;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    width: 1000px;
    border-radius: 20px;
    font-weight: bold
}

.footer {
    display: flex;
    background-color: #EE99C2;
    color: #FFF7FC;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px -5px;
    align-items: center;
    margin-left: auto;
    padding: 60px;
}

.contactB {
    gap: 20px;
}

hr {
    border-color: #EE99C2;
    border-width: 1.5px;
    border-radius: 40%;
    max-width: 80%;
}

#profile {
    border-radius: 50%;
    object-fit: fill;

}

a {
    text-decoration: none;
    color: #0C359E;
}
a:hover {
    color: #ad3772;
}


@media screen and (max-width:750px) {
    .bio {
        max-width: 100%;
    }

    .week {
        max-width: 90%;
    }

    .schedule {
        flex-direction: column;
    }

    .footer {
        height: 150px;
        padding: 20px;
    }
}