
body {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

/* Anchor/link styles */
a {
    text-decoration: none;
    color: black;
    transition: color 150ms ease-in-out;
}

a:hover {
    color: salmon;
}

img{
    max-width: 100%;
    height: auto;
}

button#contact {
    background-color:rgb(255, 102, 0);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    height: 40px;
    padding: 0px 20px;
    margin: 0;
}

.nav {
    height:50px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.mid {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    gap: 8px;
}

.phone p {
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
}

.mobile {
    width: 30px;
    display: none;
}

@media (max-width: 1280px) {
    

    .nav{
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px 30px;
    }

    .mid {
        display: none;
    }

    button#contact {
        display: none;
    }

    .mobile {
        display: block;
    }

}

@media (max-width: 765px) {


    .phone {
        display: none;
    }

    button#contact {
        display: none;
    }

    .mobile {
        display: block;
    }

    .contact{
        width: 20px;
    }
}