body {
    font-family: 'Archivo', sans-serif;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    transition: color 150ms ease-in-out;
}

a:hover {
    color: salmon;
}

button#contact {
    background-color: rgb(255, 122, 27);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 2px;
    height: 40px;
    padding: 0px 20px;
}

.nav {
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.mid {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    gap: 8px;
}

.phone p {
    margin: 0;
    /* remove default block margin so it sits neatly beside the icon */
}

.contact {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
}

.mobile {
    display: none;
}

@media (max-width: 1290px) {
    .mid {
        display: none;
    }

}

@media (max-width: 765px) {
    .phone {
        display: none;
    }

    button {
        display: none;
    }

    .mobile {
        display: block;
    }
}